.header.larger
  - if user_signed_in? && !current_page?(root_path)
    %button.drawer-toggle.drawer-hamburger.header_humberger.visible-xs{type: "button"}
      %span.sr-only toggle navigation
      %span.drawer-hamburger-icon
    %nav.drawer-nav.header_humberger_list.visible-xs{role: "navigation"}
      %ul.drawer-menu
        %li 
          = link_to root_path, class: "sidebar-list-item #{"active" if current_page?(root_path)}", 'data-no-turbolink' => true do
            .sidebar_icon
              %i.fa.fa-list-ul{"aria-hidden" => "true"}
            %span Reservations
    .logo.logo_where_header
      %a{:href => "/dashboard"}
        %img.logo__img{src: "/logo_sm.png"}
    %ul.user-area.user-area_where_header
      #notification
      %li.user_info.user-area__list.dropdown.hidden-xs
        %a#dropdownMenu1.dropdown__toggle{"data-toggle" => "dropdown", :href => "#"}
          = current_user.name
          %span.caret
        %ul.dropdown-menu.dropdown__content{"aria-labelledby" => "dropdownMenu1"}
          %li= link_to "Channel", root_path
          %li.dropdown__divider
          %li
            = link_to "Log out", destroy_user_session_path, method: "delete"
      %li.user-area__list.user-area__list_content_button.hidden-xs
        %a.user-area__button.button.button_fill_true{href: "mailto:contact@be-hostly.com"}
          Send Feedback
  - else
    .logo.logo_where_header
      %a{:href => "/"}
        .logo__title キネログ
