!!!
%html
  %head
    %meta{content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', name: 'viewport'}
    %title= full_title(yield(:title))
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.0/css/drawer.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag    'application', media: 'all'
    = include_gon
    = csrf_meta_tags
  %body.drawer.drawer--left{'data-controller': controller_path, 'data-action': action_name}
    .wrapper
      = render 'layouts/header'
      #main_container.container-fluid{role: "main"}
        .row
          .col-md-offset-2.col-md-8
            .row
              - if user_signed_in?
                / = render 'layouts/sidebar'
                .col-md-12.col-sm-12#yield_layer
                  - if yield(:title) != ""
                    .page-headline
                      = yield(:title)
                  = yield
                  / = debug(params) if Rails.env.development?
              - else
                .col-md-12
                  - flash.each do |message_type, message|
                    %div{:class => "alert alert-#{message_type}"}= message
                  = yield
      = render 'layouts/footer'
    %script{src: 'https://www.gstatic.com/charts/loader.js'}
    %script{src: 'https://www.google.com/jsapi'}
    = javascript_include_tag 'application'
